@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="font-family:Cursive" class="display-4">Welcome</h1>
    <p>UserData <a href="https://localhost:7060/userdatas">is here</a>.</p>
    <p>Password Management <a href="https://localhost:7060/PassManages">is here</a>.</p>
</div>

<h2 style="text-align:center;">Password Management System</h2>
<p style="color:white;  Background-color: black;">Say goodbye to memorizing passwords. Let us do it for you. Zoho Vault is a secure password manager that safely manages your passwords and autofills them across websites and applications.</p>